<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    
    <identity impersonate="false"/>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>		
  </system.web>
  <runtime>
		<system.webServer>			
			<modules runAllManagedModulesForAllRequests="true"></modules>      
		</system.webServer>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="O2_FluentSharp_CoreLib" publicKeyToken="55a0f9bf4256d533" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.2.0" newVersion="4.4.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>